button{
    cursor: pointer;
    border-radius:5px ;
    width: 100px;
    height: 40px;
    margin: 5px;
}
#btn1{
    background-color: pink;

}
#btn2{
    background-color: green;
  
    
}
#btn3{
    background-color: black;
    color:white;

}