*{
    padding:0;
    margin:0px;
}
body{
    width: 100%;
    background-color: #131010;

}
#header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    height: 13vh;
    width: 100%;
 
    /* background-color: orange; */
    /* box-shadow: rgb(200, 116, 61) 0px 20px 20px -10px; */
    box-shadow: rgba(200, 117, 61, 0.808) 0px 10px 27px -10px, rgb(228, 168, 56) 0px 8px 16px -8px;
    
}
#navbar{
    position: relative;
 
}
#header #logo{
    width: 20%;
    height: 11vh;
    background-color: palegoldenrod;
    margin-left: 20px;
    background-image: url("Photos/logo.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
 #navbar .active{
    color:rgb(200, 116, 61);
}
#header #navbar li a.active::after
{
    content: "";
    width: 8%;
    height: 3px;
    background-color: rgb(200, 116, 61);
    position: absolute;
    bottom: 2px;
    left: 155px;
    color:rgb(200, 116, 61);
    /* transition: 0.2s step-start; */
}

#header div{

    width:70%;
    /* background-color: pink; */
}

#header div ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding:10px 0 10px 0px;
  
}

#header div ul li{
    list-style: none;
   
}
#header div ul li a{
 color:aliceblue;
 text-decoration: none;
 font-size: 18px;
 transition: 0.2s ease;
}
#header div ul li a:hover{
    color: rgb(200, 116, 61);

}
#category #category-box {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
    position: relative;
}
#category #title{
    padding: 70px 0px 0px 70px;
    font-weight: 700;
    font-size:45px;
    color:rgb(200, 116, 61) ;
    font-style: italic;
    position: relative;

}


#category #category-box .box{
   height: 260px;
   width: 260px;
   border-radius: 50%;
    /* background-color: pink; */
    margin-left: 20px;
    margin-right: 10px;
    margin-top: 50px;
    position: relative;
    /* box-shadow: 5px 5px 15px rgba(214, 99, 10, 0.2); */
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    cursor: pointer;

}
#category #title::after{
    content: "";
    width: 93%;
    height: 2px;
    background-color: rgb(200, 116, 61);
    position: absolute;
    bottom: -4px;
    left:100px;
    color:rgba(200, 117, 61, 0.845);
    margin-top: 40px;
 

}


#category #category-box .box:hover{
    transition: 0.5s ease;
    scale:1.07;
 
}


#category #category-box .food-name{
    position: absolute;
    color:rgb(200, 116, 61);
   top:270px;
    left:95px;
  
  
}
#category #category-box #one{
    background-image: url("Photos/category/seafood.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:0 0 0 30px;
}
#category #category-box #two{
    background-image: url("Photos/category/meat.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:0 0 0 30px;
}
#category #category-box #three{
    background-image: url("Photos/category/pizza.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:0 0 0 30px;
}
#category #category-box #four{
    background-image: url("Photos/category/pancake.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:0 0 0 30px;
}
#category #category-box #five{
    background-image: url("Photos/category/dips.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:0 0 0 30px;
}
#category #category-box #six{
    background-image: url("Photos/category/sandwich.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:0 0 0 30px;
}
#category #category-box #seven{
    background-image: url("Photos/category/salad.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:0 0 0 30px;
}
#category #category-box #eight{
    background-image: url("Photos/category/soup.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:0 0 0 30px;
}
#category #category-box #nine{
    background-image: url("Photos/category/smoothie.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:0 0 0 30px;
}

#category #category-box #ten{
    background-image: url("Photos/category/pastries.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:0 0 0 30px;
}
#category #category-box #eleven{
    background-image: url("Photos/category/vegan.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:0 0 0 30px;
}
#category #category-box #twelve{
    background-image: url("Photos/category/waffle.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:0 0 0 30px;
}
#category #category-box #thirteen{
    background-image: url("Photos/category/dessert.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:0 0 0 30px;
}
#category #category-box #fourteen{
    background-image: url("Photos/category/breakfast.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:0 0 0 30px;
}
#category #category-box #fifteen{
    background-image: url("Photos/category/burger.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:0 0 0 30px;
}

/* footer */
#footer{
    height: 60vh;
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;

    

}
#footer::before{
    content: "";
    width: 100%;
    height: 3px;
    background-color: rgb(248, 243, 240);
    position: absolute;
    top:3px;

    /* left: 155px; */
    color:rgb(200, 116, 61);
}
.section-p1{
    padding:40px 80px;
    margin-top: 100px;
}
#footer #footer-one {
    display: flex;
    flex-direction: column;
    width: 35%;
   
}
#footer li{
    list-style: none; padding-top: 5px;
}
#footer #footer-one img{
    height: 130px;
    width: 200px;
}
#footer #footer-one  p{
    padding-top: 20px;
    text-align:start;
    line-height: 1.2;
    color:whitesmoke;
}
#footer #footer-two {
    font-size: 18px;
}

#footer #footer-three {
    font-size: 18px;
}

#footer #footer-four {
    font-size: 18px;
}
#footer  strong{
    color: rgb(200, 116, 61);

}
#footer ul li{
    color:white;
    font-weight:100;

}

#footer::after{
    content: "";
    width: 100%;
    height: 2px;
    background-color: rgb(248, 243, 240);
    position: absolute;
    top:390px;

    /* left: 155px; */
    color:rgb(200, 116, 61);
}


/* food recipe */
#search{
    width: 100%;
 height: 20vh;
 margin-top: 30px;
    /* background-color: pink; */
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-evenly;
   text-align: center;
}
#search .search-input  {
    width: 100%;
    font-size: 20px;
}
#search .search-input form{
    display: flex;
    align-items: center;
    justify-content: center;
}
#search .search-input form input{
width: 40%;
height:7vh;
border: none;
outline: none;
border-top-left-radius: 16px;
border-bottom-left-radius: 16px;
padding-left: 12px;
}
#search .search-input h1{
    color: white;
    font-size:45px;
    padding-bottom: 10px;
}
#search .search-input form input:focus{
    /* border: 1px solid rgb(200, 116, 61); */
    /* box-shadow: rgb(200, 116, 61) 0px 10px 9px 0px; */
    outline:rgb(200, 116, 61) ;
}
#search .search-input form button{
    height: 7vh;
    width:7%;
    border: none;
outline: none;
border-top-right-radius: 16px;
border-bottom-right-radius: 16px;
background: transparent;
background-color:rgb(200, 116, 61);
font-size: 16px;
font-family: 500;
color: white;
cursor: pointer;
}

#search .details{
    margin-top: 10px;
  
    color:white;
    line-height: 2;
    /* height: 100Vh; */
    width: 60%;
    border:1px solid white;
    display: flex;
    flex-direction: column;
  justify-content: center;
    visibility: hidden;
  
}

/* .det-visible{
    color:white;
    line-height: 2;
  
    margin-top:30px;
    width: 60%;
    border:1px solid white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    visibility: visible;
    padding:10px 20px 10px 20px;
   
} */
.vis{
    visibility: visible;
    font-size: 20px;

}




#search .details span{
    color:rgb(200, 116, 61);
    font-size: 20px;
    font-weight:700;
    padding:10px 0px 10px 20px;
    text-decoration: double;
    
}

#search .details .data{
color:white;
font-size: 20px;
}
