*{
    padding:0;
    margin:0px;
}
body{
    width: 100%;
    background-color: #131010;

}
#header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    height: 13vh;
    width: 100%;
    /* background-color: orange; */
    /* box-shadow: rgb(200, 116, 61) 0px 20px 20px -10px; */
    box-shadow: rgb(200, 116, 61) 0px 13px 27px -5px, rgba(218, 224, 36) 0px 8px 16px -8px;
    
}
#navbar{
    position: relative;
}
#header #logo{
    width: 20%;
    height: 11vh;
    background-color: palegoldenrod;
    margin-left: 20px;
    background-image: url("Photos/logo.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
 #navbar .active{
    color:rgb(200, 116, 61);
}
#header #navbar li a.active::after,
#header #navbar li a:hover::after{
    content: "";
    width: 8%;
    height: 3px;
    background-color: rgb(200, 116, 61);
    position: absolute;
    bottom: 2px;
    left: 155px;
    color:rgb(200, 116, 61);
    /* transition: 0.2s step-start; */
}

#header div{

    width:70%;
    /* background-color: pink; */
}

#header div ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding:10px 0 10px 0px;
  
}

#header div ul li{
    list-style: none;
   
}
#header div ul li a{
 color:aliceblue;
 text-decoration: none;
 font-size: 18px;
 transition: 0.2s ease;
}
#header div ul li a:hover{
    color: rgb(200, 116, 61);

}
#category #category-box {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
    position: relative;
}
#category #title{
    padding: 70px 0px 0px 70px;
    font-weight: 700;
    font-size:45px;
    color:rgb(200, 116, 61) ;
    font-style: italic;
    position: relative;

}
#category #category-box .box{
   height: 260px;
   width: 260px;
   border-radius: 50%;
    /* background-color: pink; */
    margin-left: 20px;
    margin-right: 10px;
    margin-top: 50px;
    position: relative;
    /* box-shadow: 5px 5px 15px rgba(214, 99, 10, 0.2); */
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    cursor: pointer;

}
#category #title::after{
    content: "";
    width: 93%;
    height: 2px;
    background-color: rgb(200, 116, 61);
    position: absolute;
    bottom: -4px;
    left:100px;
    color:rgba(200, 117, 61, 0.845);
    margin-top: 40px;
 

}
/* #category {
    position: relative;
    padding-bottom: 20px;
}

#category h2 {
    padding: 40px 0px 10px 60px;
    font-weight: 700;
    font-size: 45px;
    color: rgb(200, 116, 61);
    font-style: italic;
    position: relative;
    display: inline-block;
}

#category h2::after{
    content: "";
    width: 93%;
    height: 3px;
    background-color: rgb(200, 116, 61);
    position: absolute;
    bottom: -4px;
    left: 100px;
    color:rgba(200, 117, 61, 0.845);
 

}
#category #category-box .box {
    height: 150px;
    width: 150px;
    background: linear-gradient(to bottom right, #e9967a, #ffcc70);
    border-radius: 15px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: bold;
    color: #131010;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
} */

#category #category-box .box:hover{
    transition: 0.5s ease;
    scale:1.07;
 
}


#category #category-box .food-name{
    position: absolute;
    color:rgb(200, 116, 61);
   top:270px;
    left:95px;
  
  
}
#category #category-box #one{
    background-image: url("Photos/category/seafood.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:0 0 0 30px;
}
#category #category-box #two{
    background-image: url("Photos/category/meat.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:0 0 0 30px;
}
#category #category-box #three{
    background-image: url("Photos/category/pizza.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:0 0 0 30px;
}
#category #category-box #four{
    background-image: url("Photos/category/pancake.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:0 0 0 30px;
}
#category #category-box #five{
    background-image: url("Photos/category/dips.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:0 0 0 30px;
}
#category #category-box #six{
    background-image: url("Photos/category/sandwich.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:0 0 0 30px;
}
#category #category-box #seven{
    background-image: url("Photos/category/salad.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:0 0 0 30px;
}
#category #category-box #eight{
    background-image: url("Photos/category/soup.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:0 0 0 30px;
}
#category #category-box #nine{
    background-image: url("Photos/category/smoothie.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:0 0 0 30px;
}

#category #category-box #ten{
    background-image: url("Photos/category/pastries.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:0 0 0 30px;
}
#category #category-box #eleven{
    background-image: url("Photos/category/vegan.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:0 0 0 30px;
}
#category #category-box #twelve{
    background-image: url("Photos/category/waffle.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:0 0 0 30px;
}
#category #category-box #thirteen{
    background-image: url("Photos/category/dessert.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:0 0 0 30px;
}
#category #category-box #fourteen{
    background-image: url("Photos/category/breakfast.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:0 0 0 30px;
}
#category #category-box #fifteen{
    background-image: url("Photos/category/burger.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:0 0 0 30px;
}



